 .project{
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &__content{
        h2{
            color: whitesmoke;
            font-size: 132px !important;
            font-weight: 700;
            letter-spacing: 4px;
        }
    }
}